*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

a.nav-link{
  color: #D0D3D4;
  transition: color 0.3s;
}
a{
  text-decoration: none;
}

.navbar-brand a{
  text-decoration: none;
  color: white;
}

.navbar-brand a:hover{
  color: bisque;
}

#add-button{
  color: #D0D3D4;
}


.add-content{
  padding: 10px;
}

#nav-style{
  background-color: #4267b2;
  color: white;
}

#nav-style p{
  font-size: 1rem;
}

/*
login style
container*/

#con{
  margin-top: 20px;
  width: 70%;
  padding: 5%;
}
.wrapper{
  padding: 7% 1%;
  background-color: #f7f7f7; /* Set the background color */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #D0D3D4;
  
}

.wrapper2{
  border: 1px solid #D0D3D4;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 1% 1%;
}

.hr-style{
  width: 100%;
}

input{
  appearance: none;
	border-radius: 0;
}

.add-info{
  padding: 5px 10px;
  margin: 10px;
}

#btn-log{
  margin-left: 10px;
}

/*main page*/

input.btn.btn-primary{
  margin-left: 12px;
}

/*create post*/

input.btn.btn-success.mt-2{
  padding: 5px 20px;
}
